# 📂 Archivos y carpetas generales
.DS_Store
node_modules/
dist/
build/
.env
.env.local
.env.production
.env.development
.idea/
.vscode/
*.log
*.lock
yarn-error.log
npm-debug.log

# 📂 Backend (Flask - Python)
backend/venv/
backend/instance/
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.sqlite
backend/migrations/

# 📂 Frontend (Next.js - Node.js)
frontend/.next/
frontend/out/
frontend/.vercel/
frontend/.turbo/
frontend/package-lock.json
frontend/yarn.lock

# 🚀 Docker
docker-compose.override.yml
.dockerignore

# 🔍 Logs
*.swp
*.swo
